<section class="comments-section">
  <%= turbo_stream_from recording, "comments" %>
  <h2 class="comments-section__title">Comments (<%= render CounterCache.for(recording, "comments") %>)</h2>

  <div id="comments" class="comments-section__list">
    <% recording.comments.each do |comment_recording| %>
      <%= render partial: "comments/comment", locals: { comment_recording: comment_recording } %>
    <% end %>
  </div>
</section>
