<%= form_with url: articles_path, method: :get, class: "search-form", data: { controller: "search", turbo_frame: "articles", turbo_action: "advance" } do |f| %>
  <%= f.text_field :q, value: params[:q], placeholder: "Search articles...", class: "search-form__input", data: { search_target: "input", action: "input->search#search" } %>
  <button type="button" class="btn btn--secondary" data-action="search#clear">Clear</button>
  <%= f.submit "Search", class: "search-form__submit--hidden" %>
<% end %>
