<div class="page">
  <div class="page-header">
    <h1 class="page-header__title">Articles</h1>
    <%= link_to "New Article", new_article_path, class: "btn btn--primary" %>
  </div>

  <%= render "search" %>

  <%= turbo_frame_tag "articles" do %>
    <% if @recordings.any? %>
      <div class="article-list" data-controller="creator" data-creator-mine-class="article-card--mine">
        <%= render partial: "article", collection: @recordings, as: :recording %>
      </div>
    <% else %>
      <div class="empty-state">
        <p class="empty-state__message">No articles yet.</p>
        <p class="empty-state__hint">Get started by creating your first article.</p>
      </div>
    <% end %>
  <% end %>
</div>
